<app-header></app-header>
<router-outlet></router-outlet>

  <!--div class="card card--fire">
    <div class="card--header">
      <h2>Charmander</h2>
      <span>#002</span>
    </div>
    <div class="card--body">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png"
        class="pokemon-sprite" />
      <img src="../assets/pokeball4.png" class="card-image" />
    </div>
  </!--div>

  <div class="card card--leaf">
    <div class="card--header">
      <h2>Bulbasaur</h2>
      <span>#001</span>
    </div>
    <div class="card--body">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
        class="pokemon-sprite" />
      <img src="../assets/pokeball4.png" class="card-image" />
    </div>
  </div>

  <div class="card card--fire">
    <div class="card--header">
      <h2>Charmander</h2>
      <span>#002</span>
    </div>
    <div class="card--body">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png"
        class="pokemon-sprite" />
      <img src="../assets/pokeball4.png" class="card-image" />
    </div>
  </div>

  <div class="card card--leaf">
    <div class="card--header">
      <h2>Bulbasaur</h2>
      <span>#001</span>
    </div>
    <div class="card--body">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
        class="pokemon-sprite" />
      <img src="../assets/pokeball4.png" class="card-image" />
    </div>
  </div>

  <div class="card card--fire">
    <div class="card--header">
      <h2>Charmander</h2>
      <span>#002</span>
    </div>
    <div class="card--body">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png"
        class="pokemon-sprite" />
      <img src="../assets/pokeball4.png" class="card-image" />
    </div>
  </div-->
