<form class="search-form" [formGroup]="searchForm">
    <input type="text" class="search-form__input" placeholder="Search by name" formControlName="text" />
</form>
<!-- <span style="text-align: center; color: #fff;">
    {{ searchForm.value | json }}
</span> -->

<div class="pokemon-list">

    <app-loader *ngIf="!(pokemonList$ | async)"></app-loader>

    <app-pokemon-card 
        size="small"
        [pokemon]="pokemon"
        *ngFor="let pokemon of pokemonList$ | async"
        routerLink="/details/{{ pokemon?.num }}"
        style="cursor: pointer;"
    >
    </app-pokemon-card>
</div>